VITE_SITE_URL=https://usdhalo.io
VITE_API_BASE_URL=https://api.usdhalo.io
VITE_WAITLIST_ENDPOINT=
VITE_ANALYTICS_PROVIDER=none
VITE_GTM_ID=
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://eu.i.posthog.com

API_PORT=8787
API_HOST=0.0.0.0
WAITLIST_STORAGE_PATH=data/waitlist.json
API_CORS_ORIGIN=*
API_ADMIN_TOKEN=
API_SERVE_STATIC=false
API_RATE_LIMIT_WINDOW_MS=60000
API_RATE_LIMIT_MAX=60
