VITE_SITE_URL=https://usdhalo.io
VITE_API_BASE_URL=https://api.usdhalo.io
VITE_WAITLIST_ENDPOINT=
VITE_ANALYTICS_PROVIDER=none
VITE_GTM_ID=
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://eu.i.posthog.com
